<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <h1 class="title"><img src="../../assets/images/logo-no-text.png" style="height: 32px; margin-top: 5px;"></h1>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-list-header>
      User List
    </ion-list-header>
    <ion-item *ngFor="let contact of everybody | async">
      <ion-avatar slot="start">
        <img src="../../assets/icon/favicon.png">
      </ion-avatar>
      <ion-label>
        <h2>{{contact?.displayName}}</h2>
        <p *ngFor="let num of contact?.phoneNumbers">
          {{num.value}}
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>